---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: openbao
spec:
  provider:
    vault:
      server: "http://192.168.0.233:8200"
      path: "secret"
      version: "v2"
      auth:
        appRole:
          path: "approle"
          roleId: "177bcd97-ef5a-af53-0aa5-a96ec78b1fbd"
          secretRef:
            name: "openbao-approle"
            key: "secret-id"
            namespace: "external-secrets"
